

.main-navbar {
    height: 70px;
    background-color: #DA5C5C;
    padding-left: 45px;
    display: flex;
    align-items: center;
}

.logo-text {

font-size: 24px;
font-weight: 200;
line-height: 33px;
letter-spacing: 0.100em;
margin-left: 15px;
color: #FFFFFF;
font-family: 'Lobster', cursive;



}